@model Clinica_medicala.Models.Programare

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Programare</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataProgramare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataProgramare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pacient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pacient.PacientID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serviciu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serviciu.ServiciuID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProgramareID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
