@model IEnumerable<Clinica_medicala.Models.Programare>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataProgramare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serviciu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataProgramare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pacient.PacientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serviciu.ServiciuID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProgramareID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProgramareID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProgramareID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
