@model Clinica_medicala.Models.Serviciu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Serviciu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titlu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titlu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Specializare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Specializare.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pret)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Programari)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Pacient</th>
                    <th>Data programarii</th>
                </tr>
                @foreach (var item in Model.Programari)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pacient.Nume)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataProgramare)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ServiciuID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
